<div class="bg-light p-4">
  <h2>FAQs</h2>
  <div class="bg-white">
  
    
    
    <div id="accordion">
      <div class="card mb-2">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            What is the Objective of this scheme? 
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            The objective of the scheme is to promote availability of safe and conveniently located accommodation for working women, with day care facility for their children,wherever possible, in urban, semi urban, or even rural areas where employment opportunity for women exist.
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
            What categories of working women and their children are being covered under this Scheme? 
        </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Working women, who may be single, widowed, divorced, separated, married but whose husband or immediate family does not reside in the same city/area. preference may be given to women from disadvantaged sections of the society.
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Is there any provision for reservation of seats for physically challenged people? 
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Yes there is provision for reservation of seats for physically challenged beneficiaries. 
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
            Does women under training eligible for this scheme?  
        </a>
        </div>
        <div id="collapse4" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Yes, Women who are under training for job are eligible but provided that the total training period does not exceed one year.
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
            What is the total capacity if women under training under this scheme? 
        </a>
        </div>
        <div id="collapse5" class="collapse" data-parent="#accordion">
          <div class="card-body">
            The number of women under training for job should not exceed 30% of the total capacity.
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
            What is the maximum age for Childers for accommodation under this scheme?
        </a>
        </div>
        <div id="collapse6" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Girls up to the age of 18 years and boys up to the age of 5 years, accompanying working mothers will be provided accommodation, with their mothers.
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">
            Does working mothers are eligible for this scheme? 
        </a>
        </div>
        <div id="collapse7" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Yes, Working mothers may also avail of the services of the Day Care Centre, as provided under the scheme. 
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapse8">
            What is the gross income limit for entitlement of hostel under this scheme?  
        </a>
        </div>
        <div id="collapse8" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Working Women are entitled to hostel facilities provided their gross income does not exceed Rs. 50,000/- consolidated (gross) per month in metropolitan cities, or Rs 35,000/- consolidated (gross) per month, in any other place. 
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

