<div>
    <p>
        What are the aims and objective of STEP
    </p>
    <p>
        The programme of STEP advocates the objective of extending training for upgradation of
skills and sustainable employment for women through a variety of action oriented projects which
employ women in large numbers. 
    </p>
</div>
<div>
    <p>What kind of services will be provided to women in STEP</p>
    <p>
The Scheme aims at providing as integrated package of the following services to women to
enable them economically more viable, independent and raise their socio-economic status.
* Up gradation of skills through training.
* Better and sustainable employment opportunities
* Backward and forward linkages
* Facilitation of organization of women
* Support services with the coverage of
        - Health Check-ups
        - Referral Services
        - Mobile creches
        - Education facilities 
    </p>
</div>
<div>
    <p>What are the sectors covered in STEP</p>
    <p>
1. Agriculture,
2. Animal Husbandry,
3. Dairying,
4. Fisheries,
5. Handlooms,
6. Handicrafts,
7. Khadi and village Industries
8. Sericulture.
9. Social Forestry
10. Waste Land Development and
11. Any other locally appropriate sector*
    </p>
</div>