<!--<div>
    <p>
        What are the aims and objective of STEP
    </p>
    <p>
        The programme of STEP advocates the objective of extending training for upgradation of
skills and sustainable employment for women through a variety of action oriented projects which
employ women in large numbers. 
    </p>
</div>
<div>
    <p>What kind of services will be provided to women in STEP</p>
    <p>
The Scheme aims at providing as integrated package of the following services to women to
enable them economically more viable, independent and raise their socio-economic status.
* Up gradation of skills through training.
* Better and sustainable employment opportunities
* Backward and forward linkages
* Facilitation of organization of women
* Support services with the coverage of
        - Health Check-ups
        - Referral Services
        - Mobile creches
        - Education facilities 
    </p>
</div>
<div>
    <p>What are the sectors covered in STEP</p>
    <p>
1. Agriculture,
2. Animal Husbandry,
3. Dairying,
4. Fisheries,
5. Handlooms,
6. Handicrafts,
7. Khadi and village Industries
8. Sericulture.
9. Social Forestry
10. Waste Land Development and
11. Any other locally appropriate sector*
    </p>
</div>
-->
<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">
    
        <h2>Frequently Asked Questions </h2>
        
          
        <div class="panel panel-default">
            <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
              <h3 class="panel-title">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    What are the aims and objective of STEP
                </a>
              </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
              <div class="panel-body px-3 mb-4">
                <p>The programme of STEP advocates the objective of extending training for upgradation of
                    skills and sustainable employment for women through a variety of action oriented projects which
                    employ women in large numbers. </p>
              </div>
            </div>
          </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
              <h3 class="panel-title">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                  What are the sectors covered in STEP?
                </a>
              </h3>
            </div>
            <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
              <div class="panel-body px-3 mb-4">
                <p>There are many different types of sectors in STEP which are:-</p>
                <ul>
                  <li>Agriculture</li>
                  <li>Animal Husbandary</li>
                  <li>Dairying</li>
                  <li>Fisheries</li>
                  <li>Handlooms</li>
                  <li>Handicrafts</li>
                </ul>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
              <h3 class="panel-title">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    What are the kinds of services provided in STEP
                </a>
              </h3>
            </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
              <div class="panel-body px-3 mb-4">
                <p>The Scheme aims at providing as integrated package of the following services to women to
                    enable them economically more viable, independent and raise their socio-economic status.</p>
                    <ul>
                    <li>Up gradation of skills through training</li>
                    <li>Better and sustainable employment opportunities</li>
                    <li>Backward and forward linkages</li>
                    <li>Facilitation of organization of women</li>
                    <li>Support services with the coverage of</li>
                    <ol>
                        <li>Health Check-ups</li>
                        <li>Referral Services</li>
                        <li>Mobile creches</li>
                        <li>Education facilities</li>

                    </ol>
                    </ul>
                            
              </div>
            
          </div>
    
  