<!-- Policy Section -->
<div class="p-4" style="background-color: #F5F5F5;">
    <div class="bg-white m-4 p-4" >
    <h3>Women Related Legislation</h3>
    <hr>
    <div class="bg-light m-4">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/Final%20VC%20Sheme_0.pdf" target="_blank">Compensation Scheme for Women Victims/Survivors of Sexual Assault/other Crimes - 2018</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/Empanlled%20Institute%20forwarding%20letter.pdf" target="_blank">Letter of Selection of the empanelled organisation to conduct capacity building exercises on Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/empanelled%20new%20list.pdf" target="_blank">Recommended Panel of Institutions organisation for imparting training Programmes/workshops under Sexual Harassment of Women at Workshop (Prevention, Prohibition and Redressal) Act, 2013)</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/ISTM_Training%20Module%20To%20be%20uploaded.pdf" target="_blank">Training Module for Two Day Workshop on Sexual Harassment of Women at Workplace (Prevention, Prohibition And Redressal) Act, 2013</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/Reccomended%20panel%20of%20inst.pdf" target="_blank">Recommended Panel of Institutes or Organizations under sexual harassment of Women at workplace Prevention,Prohibition, and Redressal Act 2013</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/Sexual-Harassment-at-Workplace-Act.pdf" target="_blank">The sexual harassment of women at workplace Prevention,Prohibition, and Redressal Act 2013</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/Sexual-Harassment-at-Workplace-Act.pdf" target="_blank">The Sexual Harassment of Women at Workplace, (Prevention,Prohibition, and Redressal Act 2013, Rules</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/Handbook%20on%20Sexual%20Harassment%20of%20Women%20at%20Workplace.pdf" target="_blank">Handbook on Sexual Harassment of Women at Workplace</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/sites/default/files/ncwact.pdf" target="_blank">National Commission for Women Act</a></td>
            </tr>
            <tr>
                <td><a href="https://wcd.nic.in/act/indecent-representation-women" target="_blank">Indecent Representation of Women</a></td>
            </tr>

            </tbody>
        </table>
    </div>
    </div>
     

</div>
