<!-- about section -->
<div class="m-4 p-4" style="background-color: #F5F5F5;">
        
        <h3>About the Ministry</h3>
        <hr>
        <h4>Introduction</h4>
        <p class="text-justify">The Department of Women and Child Development, Government of India, came into existence as a separate Ministry with effect from 30th January, 
        2006, earlier since 1985 it was a Department under the Ministry of Human Resources Development.</p>
        <p class="text-justify">The Ministry was constituted with the prime intention of addressing gaps in State action for women and children for promoting inter-Ministerial 
        and inter-sectoral convergence to create gender equitable and child-centred legislation, policies and programmes.</p>

        <h4>Vision and Mission</h4>
        <h5>Vision</h5>
        <p class="text-justify">Empowered women living with dignity and contributing as equal partners in development in an environment free from violence and discrimination. 
        And, wellnurtured children with full opportunities for growth and development in a safe and protective environment.</p>
        <h5>Mission</h5>
        <p class="text-justify">Promoting social and economic empowerment of women through cross-cuting policies and programmes, 
        mainstreaming gender concerns, creating awareness about their rights and facilitating institutional and legislative support 
        for enabling them realize their human rights and develop to their full potential.2. Ensuring development, care and protection 
        of children through cross-cutting policies and programmes,spreading awareness about their rights and facilitating access to 
        learning,nutrition,institutional and legislative support for enabling them to grow and develop to their full potential.</p>
        <h5>Mandate</h5>
        <p class="text-justify">The broad mandate of the Ministry is to have holistic development of Women and Children. As a nodal Ministry 
        for the advancement of women and children, the Ministry formulates plans, policies and programmes; enacts/ amends legislation, 
        guides and coordinates the efforts of both governmental and non-governmental organisations working in the field of Women and 
        Child Development. Besides, playing its nodal role, the Ministry implements certain innovative programmes for women and 
        children. These programmes cover welfare and support services, training for employment and income generation, awareness 
        generation and gender sensitization. These programmes play a supplementary and complementary role to the other general 
        developmental programmes in the sectors of health, education, rural development etc. All these efforts are directed to ensure 
        that women are empowered both economically and socially and thus become equal partners in national development along with men.</p>
        <h5>Policy initiatives</h5>
        <p class="text-justify">For the holistic development of the child, the Ministry has been implementing the world's largest and most 
        unique and outreach programme of Integrated Child Development Services (ICDS) providing a package of services comprising 
        supplementary nutrition, immunization, health check up and referral services, pre-school non-formal education. There is effective 
        coordination and monitoring of various sectoral programmes. Most of the programmes of the Ministry are run through non-governmental 
        organisations. Efforts are made to have more effective involvement of NGOs. The major policy initiatives undertaken by the Ministry in 
        the recent past include universalisation of ICDS and Kishori Shakti Yojana, launching a nutrition programme for adolescent girls, 
        establishment of the Commission for protection of Child Rights and enactment of Protection of Women from Domestic Violence Act.</p>
        <h5>Organisation</h5>
        <p class="text-justify">The Ministry of Women and Child Development is headed by Hon'ble Minister Smt. Smriti Zubin Irani, 
        Minister of State Dr. Munjapara Mahendrabhai and Shri Indevar Pandey is the Secretary of the Ministry of Women and Child Development.
        The activities of the Ministry are undertaken through seven bureaux.</p>
        <p class="text-justify">The Ministry has 6 autonomous organisations viz.</p>
        <ul class="aboutuslist">
                <div><li>National Institute of Public Cooperation and Child Development (NIPCCD)</li></div>
                <div><li>National Commission for women (NCW)</li></div>
                <div><li>National Commission for Protection of Child Rights (NCPCR)</li></div>
                <div><li>Central Adoption Resource Agency (CARA)</li></div>
                <div><li>Central Social Welfare Board (CSWB)</li></div>
                <div><li>Rashtriya Mahila Kosh (RMK)</li></div>
        </ul>

</div>
