.customContainer{
    display: flex;
    justify-content: center;
    
   margin-left: 100px;
   margin-right: 100px;
   

}

.carousel-inner {
  max-height: 400px;
}

.scheamCard{
    width: fit-content;
    height: fit-content;
    margin: 10px;
    float: right;
}

.navbar1 {
  list-style-type: none;
}

.navbar2,
.container {
  list-style-type: none;
  margin: 2px;
}

.container {
  align-items: center;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}
.navbar2element,

.navbar1element {
  display: block;
  padding: 10px 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.navbar2element {
  margin: 0 60px;
}

li {
  display: inline-block;
}

.navbar2 {
  text-align: center;
}
