<div class="wholeHome">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#">Contact US</a>
  </nav>
  
  <div class="container customContainer">
    <img src="/assets/logo.png" alt="logo" width="100px">
    <h2>Support to Training and Employment Programme for Women (STEP)</h2>
  </div>
  
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">About US</a>
    <a class="navbar-brand" href="#">Policy</a>
    <a class="navbar-brand" href="#">STEP</a>
    <a class="navbar-brand" href="#">NGO</a>
    <a class="navbar-brand" href="#">ADMIN</a>
    <a class="navbar-brand" href="#">FAQ</a>
  </nav>





  <div class="card shadow p-3 mb-5 bg-white rounded scheamCard">
    <span>In Focus</span>
        <ul>
<li> <b><a href="https://cybercrime.gov.in" target="_blank" role="link"> CYBERCRIME REPORTING PORTAL - Under NIRBHAYA FUND </a> </b> </li>

<li> <a href="related-links" role="link" style="text-align:left;width:100%;padding-left:0;height: auto;">Related Links</a></li>

<li> <a href="http://narishaktipuraskar.wcd.gov.in/" target="_blank" role="link">Nari Shakti Puraskar</a></li>
<li> <a href="https://neas.gov.in" target="_blank" role="link">National Entrepreneurship Award 2019 </a></li>
<li><a href="http://wcd.nic.in/sites/default/files/Booklet.pdf" target="_blank" role="link">Significant Achievements Booklet (English) - 2014-2018</a>  </li>
<li><a href="http://wcd.nic.in/sites/default/files/Booklet_H.pdf" target="_blank" role="link">Significant Achievements Booklet (Hindi) - 2014-2018</a>  </li>
<li><a href="http://wcd.nic.in/sites/default/files/coffee.pdf" target="_blank" role="link">First Ladies Coffee Table Book</a>  </li>

<li><a href="https://www.youtube.com/watch?v=PEzXbz_cqDs" target="_blank" role="link">First Ladies Teaser</a>  </li>
<li><a href="http://wcd.nic.in/node/884458" target="_blank" role="link">Nari Shakti Puraskar 2017</a>  </li>
<li><a href="http://wcd.nic.in/sites/default/files/Change%20Achievement%20BOOKLET%20WCD%20%28Three%20Year%20%29.pdf" target="_blank" role="link">Significant Achievements of Three Years (2014-2017)</a>  </li>
<li><a href="http://wcd.nic.in/schemes/maternity-benefit-programme" target="_blank" role="link">Maternity Benefit Programme </a>  </li>
<!--<li><a href="https://www.icds-cas.gov.in/a/icds-cas/login/" target="_blank"> ICDS-CAS Portal </a>  </li>-->
<li><a href="http://wcd.nic.in/sites/default/files/List%20of%20SNO%20%26%20ANO.pdf" target="_blank" role="link">Direct Benefit Transfer</a></li>
<li><a href="http://wcd.nic.in/sites/default/files/FINAL%20Achievement%20BOOKLET%20WCD%20%28Two%20Year%29.pdf" target="_blank" title="Significant Achievements of Two Years 2014-2016" role="link">Significant Achievements of Two Years 2014-2016</a></li>
           <!--  <li><a href="http://wcd.nic.in/Grievance/Grievanc_Home.htm" target="_blank" title="Grievance Redressal in Ministry of Women And Child Development">Grievance Redressal in Ministry of Women And Child Development</a></li>-->
            <li><a href="/bbbp-schemes" target="_blank" title="Beti Bachao Beti Padhao" role="link">Beti Bachao Beti Padhao</a></li>
             <li><a href="/bbbp-schemes" target="_blank" title="Disclaimer! for Beti Bachao Beti Padhao" role="link">Disclaimer! for Beti Bachao Beti Padhao</a></li>
            
        
        <!--<div class="nirbhaya">Nirbhaya</div>-->
   <!--  <a target="_blank" href="http://wcd.nic.in/Ebookmwcd/finalebook.rar" class="ebook-container"> e-Book</a>
     <a target="_blank" href="notification/2320" class="re-ngo-container" >Tender</a>-->
</div>

</div>