<h3 class="text-center">Available courses to enroll</h3>
<table class="table">
    
    <thead class="thead-dark">
        <tr>

            <th>Course Name</th>
            <th>Course Start date</th>
            <th>Course End date</th>
        </tr>
    </thead >
  
    <tbody>
        <tr *ngFor="let course of CourseNames">
            <td>{{course.ngoCourseName}}</td>
            <td>{{course.startDate}}</td>
            <td>{{course.endDate}}</td>
        </tr>
    </tbody>
 
</table>


<h4>Choose one of the following courses to enroll.</h4>
<select (change)="changeValue()" [(ngModel)]="courseName.ngoCourseName"> 
<option *ngFor="let course of CourseNames">{{course.ngoCourseName}}</option>
</select>

<div>
You have selected <strong>{{courseName.ngoCourseName}}</strong> course to enroll.
</div>

<button class="btn btn-success" (click) = "enroll()">Enroll</button>
