    
    <h5 align="center" style="font-size: xx-large;">Training Sectors</h5>
    <br>
    <br>
    
    <div class="carousel slide" id="slider" data-ride="carousel" data-interval="3000" style="background-color: #F5F5F5;">
      <!--indicators-->
      <ol class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="center" src="/assets/hd2.jpg" >
        </div>
    
        <div class="carousel-item" id="slide2">
          <img class="center" src="/assets/homeimg2.jpg">
        </div>
        <div class="carousel-item" id="slide4">
              <img class="center" src="/assets/homeimg4.jpeg">
        </div>
    
      </div>
      <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <ul>List Of Courses</ul>