    <h5>Guidelines under STEP Programme for Women</h5>

    <div class="row">
        <div class="col-sm-6">
        <div class="card bg-dark text-white" style="width: 18rem;">
          <div class="card-body">
            The functionaries of the implementing agencies and the link agencies and the voluntary
            organisations involved would initially be given a suitable orientation towards the scope, objectives
            and requirements under the projects for the effective implementation of the project. Sensitization
            towards women’s issue will be an integral part of training at all levels including the project
            implementing agencies and the beneficiaries as well.
        </div>
        </div>
        </div>


        <div class="col-sm-6">
        <div class="card bg-dark text-white" style="width: 18rem;">
            <div class="card-body">
                Women will be given training on various aspects, including group formation, skill
                upgradation management of the primary producer groups and co-operatives, entrepreneurship skills,
                marketing, awareness of their rights and gender concern etc. So as to equip them to face, overcome
                and resolve their economic and social constraints and problems at their own level and to promote
                genuine empowerment. This is the basic approach towards the evaluation of the Status of women.
        
          </div>
          </div>
          </div>



          <div class="col-sm-6">
          <div class="card bg-dark text-white" style="width: 18rem;">
            <div class="card-body">
                The implementing agency in the project formulation will outline the training arrangements of
                the beneficiaries, extension workers, field supervisors and technical staff, etc. identifying the training
                institute, guidelines of training, cost estimate etc. No additional training institute will be established.
                The existing infrastructure already available will be uplifted and Training will be through accredited
                agencies/Trainers.
            
          </div>
          </div>
          </div>

          <div class="col-sm-6">
          <div class="card bg-dark text-white" style="width: 18rem;">
            <div class="card-body">
                The proposals under STEP are considered as per the scheme guidelines. 
                For proposals of organizations from North Eastern States, verification of credentials is got done through Ministry of Home Affairs before release of funds.
                The guidelines of STEP Scheme have been revised in December, 2014 by Ministry of Women and Child Development. In addition, other sector specific Ministries and State Governments have skill development programmes of their own. For proper implementation of the scheme, the guidelines envisage concurrent monitoring/evaluation of the projects funded under the scheme.  </div>
          </div>
          </div>
      </div>
    
