
<div class="p-3 bg-light">
    <div class="p-3 bg-white">
    <h2 class="text-center">Approved NGOs</h2>
    <br>
    <table class = "table">
        <thead class="thead-dark">
            <tr>
                <th>NGO ID</th>
                <th>NGO Name</th>
                <th>PAN</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Action</th>
            </tr>  
        </thead>
        <tbody>
            <tr *ngFor="let ngo of ngos">
                <td>{{ngo.organisationId}}</td>
                <td>{{ngo.organisationName}}</td>
                <td>{{ngo.pan}}</td>
                <td>{{ngo.organisationMail}}</td>
                <td>{{ngo.organisationPhone}}</td>
                <td>{{ngo.location}}</td>
                <td>
                    <button (click) = "deleteNgo(ngo.organisationId)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
