<div class="container">
  <h5 align="center" style="font-size: 30px; font-family: 'Times New Roman', Times, serif;">Support to Training and Employment Programme for Women (STEP)</h5>
  <div class="row">
    <div class=col-sm style="text-align: justify; font-size: 20px; color: darkblue;">
      The Support to Training and Employment Programme for Women (STEP) Scheme aims to provide skills that give employability to women and to provide competencies and skill that enable women to become self-employed/ entrepreneurs. Sectors include Agriculture, Horticulture, Food Processing, Handlooms, Tailoring, Stitching, Embroidery, Zari etc, Handicrafts, Computer & IT enable services along with soft skills and skills for the workplace such as spoken English, Gems &Jewellery etc.The Scheme is intended to benefit women who are in the age group of 16 years and above across the country.The scheme has 2 fold objectives viz. To provide skills that give employability to women. To provide competencies and skills that enable women to become self-employed/entrepreneurs.
    </div>
    <div class=col-sm>
      <img class = "img" src="assets\women-1-1.jpg">
      
    </div>
  </div>
</div>