
  <div class="card bg-secondary text-white" style="max-width: 100rem;">
    <div class="card-body">
    <h5 class="card-title" align="center">Support to Training and Employment Programme for Women (STEP)</h5>
    <p class="card-text">The Scheme is intended to benefit women who are in the age group of 16 years and above across the country. The scheme has 2 fold objectives viz. To provide skills that give employability to women. To provide competencies and skills that enable women to become self-employed/entrepreneurs.</p>
    </div>
    <img src="assets\women-1-1.jpg">
  
</div>