<div class="container">
<h5>Support to Training and Employment Programme for Women (STEP)</h5>
<p>
  The Ministry has been administering ‘Support to Training and Employment Programme for Women (STEP) Scheme’ since
  1986-87 as a ‘Central Sector Scheme’. The STEP Scheme aims to provide skills that give employability to women and to
  provide competencies and skill that enable women to become self-employed/entrepreneurs. The Scheme is intended to
  benefit women who are in the age group of 16 years and above across the country. The grant under the Scheme is given
  to an institution/ organisation including NGOs directly and not the States/ UTs. The Support to Training and Employment Programme for Women (STEP) Scheme aims to
provide skills that give employability to women and to provide competencies and skill that
enable women to become self-employed/ entrepreneurs. Sectors include Agriculture,
Horticulture, Food Processing, Handlooms, Tailoring, Stitching, Embroidery, Zari etc,
Handicrafts, Computer & IT enable services along with soft skills and skills for the workplace
such as spoken English, Gems &Jewellery etc.
Eligibility criteria:
All Women who are in the age group of 16 years and above.
</p>
</div>
