<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink = "approved-ngo" routerLinkActive = "active" class="nav-link">NGO List</a>
        </li>

        <li class = "nav-item">
            <a routerLink = "pending-ngo" routerLinkActive = "active" class="nav-link">New NGO Requests</a>
        </li>

        <li class = "nav-item">
            <a routerLink = "add-trainee" routerLinkActive = "active" class="nav-link">Trainee Requests</a>
        </li>

        <li class = "nav-item">
            <a routerLink = "update-trainee" routerLinkActive = "active" class="nav-link">Update Trainee</a>
        </li>


    </ul>

</nav>


<div class = "container">
    <router-outlet></router-outlet>
</div>

