<div style="margin: 4px;">
    <ul class="navbar1">
        <li style="float: left;"><a class="navbar1element" href="#">Home</a></li>
        <li style="float: right;"><a class="navbar1element" href="#">Logout</a></li>
        <li style="float: right;"><a class="navbar1element" href="#">Contact Us</a></li>
    </ul>
    <div style="width: 100%">
    <ul class="container">
        <li style="margin-left: 100px"><img src="/assets/logo.png" alt="logo" width="100px"></li>
        <li style="margin-left: 100px;"><h2>Support to training and Employment Programme for Women</h2></li>
    </ul>
    </div>
    <ul class="navbar2">
        <li><a href="#" class="navbar2element" [routerLink]="['/steppath', {outlets: {'stepsub': ['stepaboutus']}}]">ABOUT US</a></li>
        <li><a href="#" class="navbar2element" [routerLink]="['/steppath', {outlets: {'stepsub': ['stepguideline']}}]">GUIDELINES</a></li>
        <li><a href="#" class="navbar2element" [routerLink]="['/steppath', {outlets: {'stepsub': ['steptrainingsectors']}}]">TRAINING SECTORS</a></li>
        <li><a href="#" class="navbar2element" [routerLink]="['/steppath', {outlets: {'stepsub': ['stepngo']}}]">NGO</a></li>
        <li><a href="#" class="navbar2element" [routerLink]="['/steppath', {outlets: {'stepsub': ['stepregister']}}]">REGISTRATION</a></li>
        <li><a href="#" class="navbar2element" [routerLink]="['/steppath', {outlets: {'stepsub': ['stepstatus']}}]">STATUS</a></li>
        <li><a href="#" class="navbar2element" [routerLink]="['/steppath', {outlets: {'stepsub': ['stepfaq']}}]">FAQ</a></li>
        <li><a href="#" class="navbar2element" [routerLink]="['/steppath', {outlets: {'stepsub': ['stepdashboard']}}]">DASHBOARD</a></li>
    </ul>
    </div> 

    <router-outlet name="stepsub"></router-outlet>
