<div class="wholeStep">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Home</a>
        <a class="navbar-brand" href="#">Contact US</a>
        <a class="navbar-brand" href="#">Logout</a>
      </nav>
      
      <div class="container customContainer">
        <img src="/assets/logo.png" alt="logo" width="100px">
        <h2>Support to Training and Employment Programme for Women (STEP)</h2>
      </div>
      
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">About US</a>
        <a class="navbar-brand" href="#">Guidelines</a>
        <a class="navbar-brand" href="#">Training sectors</a>
        <a class="navbar-brand" href="#">NGO</a>
        <a class="navbar-brand" href="#">Registration</a>
        <a class="navbar-brand" href="#">Status</a>
        <a class="navbar-brand" href="#">FAQ</a>
      </nav>
    
    
    