.navbar1
{
    display: inline-block;
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none;
    
    

}
.navbar2
{
    display: inline-block;
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none;
    border: 1px solid black;
}
.navbar1 .navbar1ele
{
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    
    

}
.navbar2 .navbar2ele
{
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    margin-right: 20px;
    
    

}
h2
{
    margin-top: 50px;
    margin-right: 45px;
    font-size: 35px;
    float: right;
}
