.navbar1 {
  list-style-type: none;
  background-color: blueviolet;
}

.navbar1element {
  display: block;
  padding: 10px 10px;
  color: black;
  text-decoration: none;
}

.container {
  align-items: center;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.customContainer {
  display: flex;
  justify-content: center;

  margin-left: 100px;
  margin-right: 100px;
}

.scheamCard {
  width: fit-content;
  height: fit-content;
  margin: 10px;
  float: right;
}

.navbar2,
.container {
  list-style-type: none;
  margin: 2px;
}

.navbar2element {
  display: block;
  padding: 10px 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.navbar2element {
  margin: 0 80px;
}

li {
  display: inline-block;
}

.navbar2 {
  text-align: center;
}
