<div class="container">
<h4 style="padding-left: 3mm;">General:</h4>

<div style="padding-left: 3mm;" >
<h6>Q: What is an Equivalency Determination (ED)?</h6>
<p> Equivalency determination (ED) is a process dictated by U.S. tax law regulations. It permits a U.S. private foundation or donor-advised fund to make a good faith determination that a non-U.S. organization is the equivalent of a U.S. public charity or operating foundation. When using ED, the payment is a “qualifying distribution,” a grant for which expenditure responsibility (ER) is not required. To make this determination, a qualified reviewer collects and analyzes detailed information about a non-U.S. organization’s operations and finances (when required) and, based upon this information, makes a determination about whether the organization is equivalent to a U.S. public charity. </p>
</div>

<div style="padding-left: 3mm;">
    <h6>Q: Where do these rules come from?</h6>
    <p>The rules related to ED – the information we collect, and the tests we apply – are taken entirely from the U.S. Internal Revenue Code, Treasury Regulations, and related rulings and guidance issued by the U.S. Internal Revenue Service (IRS).</p>
</div>

<div style="padding-left: 3mm;">
    <h6>Q: What if our organization is a fiscally sponsored project, not yet independently incorporated?</h6>
    <p>ED can only be conducted on an independent legal entity. If your organization has not yet been independently incorporated, then we cannot conduct ED on the organization.</p>
</div>




<h4 style="padding-left: 3mm;">ED Questionnaire & Governing Documents:</h4>

<div style="padding-left: 3mm;">
    <h6>Q: What does it mean “(1) to give instruction to individuals for the purpose of improving or developing their capabilities, or (2) to give instruction to the public on subjects useful to the individual and beneficial to the community”?</h6>
    <p>This language describes activities or programs that are educational in nature. For example, if the organization publishes informational articles, blogs, reports, white papers, or research on its website or elsewhere, or if it offers courses, trainings, lectures, workshops, or similar programs on either a group or individual basis, for a fee or without charge, please respond “yes.”</p>
</div>

<div style="padding-left: 3mm;">
    <h6>Q: How does an organization determine the date of its formation?</h6>
    <p>This is the date on which the organization was legally incorporated or registered in the organization’s country. Typically, the date is on the original Certificate of Incorporation, Articles of Incorporation, or Trust Deed, for example.</p>
</div>
</div>