<h2 class="text-center">New NGO Requests</h2>
<br><br>
<div>
    <table class = "table">
        <thead class = "thead-dark">
            <tr>
                <th>NGO ID</th>
                <th>NGO Name</th>
                <th>PAN</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Status</th>
                <th colspan="2">Action</th>
            </tr>  
        </thead>
        <tbody>
            <tr *ngFor="let ngo of ngos">
                <td>{{ngo.organisationId}}</td>
                <td>{{ngo.organisationName}}</td>
                <td>{{ngo.pan}}</td>
                <td>{{ngo.organisationMail}}</td>
                <td>{{ngo.organisationPhone}}</td>
                <td>{{ngo.location}}</td>
                <td>{{ngo.status}}</td>
                <td colspan="2">
                    <button (click) = "approveNgo(ngo.organisationId)" class="btn btn-success">Approve</button>&nbsp;&nbsp;&nbsp;
                    <button (click) = "deleteNgo(ngo.organisationId)" class="btn btn-danger">Decline</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
