<h2 class="text-center">NGO Courses</h2>
<br><br>
<div>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Project Incharge</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>  
        </thead>
        <tbody>
            <tr *ngFor="let ngocourse of ngoCourses">
                <td>{{ngocourse.ngoCourseId}}</td>
                <td>{{ngocourse.ngoCourseName}}</td>
                <td>{{ngocourse.projectIncharge}}</td>
                <td>{{ngocourse.startDate}}</td>
                <td>{{ngocourse.endDate}}</td>
               <!--<td> <button (click) = "approveNgo(ngo.organisationId)" class="btn btn-success">Approve</button></td>
                <td> <button (click) = "deleteNgo(ngo.organisationId)" class="btn btn-danger">Decline</button></td>-->
            </tr>
        </tbody>
    </table>
</div>
