<div class="container" >

<form #regForm="ngForm" (ngSubmit)="formSubmit(regForm)" class="form-group" style="max-width: 500px;
margin: auto;" >
   
        <div class="form-group">
            <label for="orgname">Enter Organisation Name</label>
            <input type="text" name="oname" [(ngModel)]="OrganisationReg.organisationName" reqired ngModel class="form-control" >

        </div>
        <div class="form-group">
            <label for="orgloc">Enter Location</label>
            <input type="text" name="olocation" [(ngModel)]="OrganisationReg.location" required ngModel class="form-control" >
            
        </div>
        <div class="form-group">
            <label for="orgemail">E-mail</label>
            <input type="email" name="oemail" [(ngModel)]="OrganisationReg.organisationMail"required email ngModel class="form-control">
            
        </div>
        <div class="form-group">
            <label for="orgphnum">Phone number (+91)</label>
            <input type="tel" type="number" name="ophone" [(ngModel)]="OrganisationReg.organisationPhone" required minlength="10" maxlength="10" ngModel class="form-control">
           
        </div>
        <div class="form-group">
            <label for="orgpan">PAN</label>
            <input type="text" name="opan" [(ngModel)]="OrganisationReg.pan" required minlength="10" maxlength="10" ngModel class="form-control">
            
        </div>

        <div class="form-group">
            <label for="orgproj">Enter Project Name</label>
            <input type="text" name="oproject" [(ngModel)]="ProjectDet.projectName" required ngModel class="form-control">

        </div>

        <div class="form-group">
            <label for="orgprojmen">Enter Project Mentor</label>
            <input type="text" name="oprojmentor" [(ngModel)]="ProjectDet.projectMentor" required ngModel class="form-control">
            
        </div>
        
        <div class="form-group" style="align-items: center;">
           <button type="reset" class="btn btn-danger" style="margin: 10px;">Reset</button>
            <button type="submit" [disabled]="!regForm.valid" class="btn btn-primary">Register</button>
        </div>
  
    <!--
    <pre>Values: {{regForm.value | json}}</pre>
    <pre>Is valid: {{regForm.valid}}</pre>
    <pre>Is touched: {{regForm.touched}}</pre>
    <pre>Is Submitted: {{regForm.submitted}}</pre>
    -->
</form>
</div>
