<p>registerngo works!</p>
<form #regForm="ngForm" (ngSubmit)="formSubmit(regForm)">
    <table align=center>
        <tr>
            <td><label for="orgname">Enter Organisation Name</label></td>
            <td><input type="text" id="orgname" name="oname" reqired ngModel></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="orgloc">Enter Location</label></td>
            <td><input type="text" id="orgloc" name="olocation" ngModel></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="orgemail">E-mail</label></td>
            <td><input type="email" id="orgemail" name="oemail" required email ngModel></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="orgphnum">Phone number (+91)</label></td>
            <td><input type="tel" id="orgphnum" name="ophone" required minlength="10" maxlength="10" ngModel></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="orgpan"></label>PAN</td>
            <td><input type="text" id="orgpan" name="opan" required minlength="10" maxlength="10" ngModel></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="orgproj"></label>Enter Project Name</td>
            <td><input type="text" id="orgproj" name="oproject" required ngModel></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="orgprojmen"></label>Enter Project Mentor</td>
            <td><input type="text" id="orgprojmen" name="oprojmentor" required ngModel></td>
            <td></td>
        </tr>
        
        <tr>
            <td><button type="reset">Reset</button></td>
            <td><button type="submit" [disabled]="!regForm.valid">Register</button></td>
        </tr>
    </table>
    <!--
    <pre>Values: {{regForm.value | json}}</pre>
    <pre>Is valid: {{regForm.valid}}</pre>
    <pre>Is touched: {{regForm.touched}}</pre>
    <pre>Is Submitted: {{regForm.submitted}}</pre>
    -->
</form>