<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="jumbotron">
<div class="container">
    <h1 class="text-center">Course Status</h1>
</div>
</div>

<br>

<h5 style="font-size: 30px; font-family: fantasy;"> User Staus : </h5>
              
<div class="container">
    <div class="row clearfix">
          <div class="col-md-12 column">
         
              <div class="status-perfect">
                <div class="panel-heading">
                  <div class="panel-title">
                   <h4>
                   Your course is approved successfully!!!
                    </h4>
                  </div>
                </div>                
              </div>
            <br>
               <div class="status-critical">
                <div class="panel-heading">
                  <div class="panel-title">
                   <h4>
                        Your Course Approval is still Pending
                    </h4>
                  </div>
                </div>                
              </div>
              <br>
              
          </div>
      </div>
        
</div>


<br><br> 

 
