<div style="margin: 4px;">
<ul class="navbar1">
    <li style="float: left;"><a class="navbar1element" href="#">Home</a></li>
    <li style="float: right;"><a class="navbar1element" href="#">Logout</a></li>
    <li style="float: right;"><a class="navbar1element" href="#">Contact Us</a></li>
</ul>
<div style="width: 100%">
<ul class="container">
    <li style="margin-left: 100px"><img src="/assets/logo.png" alt="logo" width="100px"></li>
    <li style="margin-left: 100px;"><h2>MINISTRY OF WOMEN AND CHILD DEVELOPMENT</h2></li>
</ul>
</div>
<ul class="navbar2">
    <li><a href="#" class="navbar2element">ABOUT US</a></li>
    <li><a href="#" class="navbar2element">NGO</a></li>
    <li><a href="#" class="navbar2element">TRAINEES</a></li>
</ul>
</div>