<!-- BALAJI  -->
<!-- BALAJI  -->
<div class="container">
     <div class="list-group">
          <ul >
              <li class="list-group-item">Forming a group of minimum 
                  seven people as desirous persons agree to form the said society.</li>
              <li class="list-group-item">Clearance of the name of the society from the Registrar concerned where the office of the society is proposed to be located.
                   In case of all India Society the name is cleared by the Ministry</li>
              <li class="list-group-item">Drafting of the deed of society as per the Society Registration Act 1860 and all other standing orders issued from time to time
                   which contains the rules and regulations for running the society and the bye laws</li>
              <li class="list-group-item">Obtaining a NOC from the owner of the premises where the office
                   of the society is proposed to be located.</li>
              <li class="list-group-item">Filing the proof of residence and identification of the desirous persons</li>
           <li class="list-group-item">Submitting the society documents alongwith all the relevant documents and the drafted deed before the registrar for registration.</li>
           <li class="list-group-item">Opening a bank account for the society for the regulation of funds of the society.</li>
          </ul>
          </div>
</div>

    