
<button routerLink="/criteria">Criteria</button>

<button routerLink="/organisation">Organisation</button>

<button routerLink="/fundingnorms">fundingnorms</button>

<div></div>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#">Contact US</a>
</nav>

<div>
    <h2 align="center"> <img src="/assets/logo.png" alt="logo" width="100px"/>  
        Non Government Organisations (NGOs)</h2>
</div>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Criteria</a>
    <a class="navbar-brand">Organisations</a>
    <a class="navbar-brand">Funding norms</a>
    <a class="navbar-brand" routerLink="registerngo">Register</a>
    <a class="navbar-brand" routerLink="statusngo">Status</a>
    <a class="navbar-brand" routerLink="faqngo">FAQ</a>
</nav>

<div>
    <router-outlet></router-outlet>
</div>

