

<ul class="navbar ">
    <li style="float: left;"><a class="navbar1element" href="#">Home</a></li>
    <li style="float: right;"><a class="navbar1element" href="#">Logout</a></li>
    <li style="float: right;"><a class="navbar1element" href="#">Contact Us</a></li>
</ul>

<div>
    <h2 align="center"> <img src="/assets/logo.png" alt="logo" width="100px"/>  
        Non Government Organisations (NGOs)</h2>
</div>


<ul class="navbar2">
    <li><a href="#" class="navbar2element" [routerLink]="['/ngopath', {outlets: {'ngosub': ['ngocriteria']}}]">Criteria</a></li>
    <li><a href="#" class="navbar2element" [routerLink]="['/ngopath', {outlets: {'ngosub': ['ngoorganisation']}}]">Organisations</a></li>
    <li><a [routerLink]="['/ngopath', {outlets: {'ngosub': ['ngofunding']}}]" class="navbar2element">Funding norms</a></li>
    <li><a [routerLink]="['/ngopath', {outlets: {'ngosub': ['ngoaddcourse']}}]" href="#" class="navbar2element"  >Add Course</a></li>
    <li><a   [routerLink]="['/ngopath', {outlets: {'ngosub': ['ngoshowcourse']}}]" href="#" class="navbar2element" >Show Courses</a></li>
    <li><a   [routerLink]="['/ngopath', {outlets: {'ngosub': ['ngoregister']}}]" href="#" class="navbar2element" >Register</a></li>
    <li><a [routerLink]="['/ngopath', {outlets: {'ngosub': ['ngostatus']}}]" href="#" class="navbar2element">Status</a></li>
    <li><a   [routerLink]="['/ngopath', {outlets: {'ngosub': ['ngofaq']}}]" href="#" class="navbar2element" >FAQ</a></li>

    
</ul>



<router-outlet name="ngosub"></router-outlet>