
<body class="hm-gradient">
    
  <main>
      
      <!--MDB Tables-->
      <div class="container mt-4">

          <div class="text-center darken-grey-text mb-4">
            <h5 style="font-size: 40px; font-family: fantasy;">List of NGO's</h5>
          </div>

          <div class="card mb-4">
              <div class="card-body">
                  <!-- Grid row -->
                  <div class="row">
                      <!-- Grid column -->
                      <div class="col-md-12">
                          <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search within NGO's</h2>
                          <div class="input-group md-form form-sm form-2 pl-0">
                              <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search something here..." aria-label="Search">
                              <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
                          </div>
                      </div>
                      <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                  <!--Table-->
                  <table class="table table-striped">
                      <!--Table head-->
                      <thead>
                          <tr>
                              <th>Organisation Name</th>
                              <th>Organisation Location</th>
              
                          </tr>
                      </thead>
                      <!--Table head-->
                      <!--Table body-->
                      <tbody>
                          <tr *ngFor="let ngo of NgoNames">
                              
                              <td>{{ngo.organisationName}}</td>
                              <td>{{ngo.location}}</td>
                                             <!--<td> <button (click) = "approveNgo(ngo.organisationId)" class="btn btn-success">Approve</button></td>
                <td> <button (click) = "deleteNgo(ngo.organisationId)" class="btn btn-danger">Decline</button></td>-->

                          </tr>
                      </tbody>
                      <!--Table body-->
                  </table>
                  <!--Table-->
              </div>
          </div>
          </div>
  </main>

</body>

