<h3 class="text-center">NGOs in collaboration with us</h3>
<table class = "table">
    <thead>
        <tr>
            <th>Organisation Name</th>
            <th>Location</th>
            <th>PAN Number</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ngo of NgoNames">
            
            <td>{{ngo.organisationName}}</td>
            <td>{{ngo.location}}</td>
            <td>{{ngo.pan}}</td>
            <td>{{ngo.organisationMail}}</td>
            <td>{{ngo.organisationPhone}}</td>
        </tr>
    </tbody>
</table>



