<li>Focused on acting in the public interest: Whether in support of education or health, the environment or human rights, members of the community work for the good of humankind and/or the preservation of the planet and do not promote discrimination or bigotry.
</li>
<li>Non-profit making/non-profit-focused entities: While many NGOs and ONGs engage in commercial activities or generate revenue in support of their missions, members of the community do not recognize profits or retain earnings.
</li>
<li>Limited government influence: Recognizing that many NGO and ONG organizations have important interactions with government, not least for reasons of funding (which may include receipt of some government funding in support of their programs) members of the community decide their own policies, direct their own activities and are independent of direct government or political control.
</li>
<li>Independent actors: Members of the community should not be political parties nor should be a part of any government. Participation in the work of a NGO/ONG is voluntary.
</li>
<li>Active Organizations: Members of the community are actively pursuing their missions on a regular basis.
</li>

<li>Structured: Members of the community, whether large or small, operate in a structured manner (e.g., under bylaws, codes of conduct, organizational standards, or other governance structures.)
</li>
<li>Lawful: Members of the .NGO and .ONG community act with integrity within the bounds of law.</li>


