<h1 style="text-align: center;">Register</h1>

<div class = "registerForm">
    <form style="display: inline-block;">
        <input type = "text" placeholder="Enter first name" name = "firstname" style="width: 300px;"><br><br>
        <input type = "text" placeholder="Enter last name" name = "lastname" style="width: 300px;"><br><br>
        <input type = "text" placeholder="Enter username" name = "username" style="width: 300px;"><br><br>
        <input type = "date" placeholder="Enter date of birth" name = "dob" style="width: 300px;"><br><br>
        <input type = "tel" placeholder="Enter contact number" name = "contact" style="width: 300px;"><br><br>
        <input type = "password" placeholder = "Enter password" name = "password" style="width: 300px;"><br><br>
        <input type = "password" placeholder = "Confirm password" name = "confirmPassword" style="width: 300px;"><br><br>
        <button>Register</button>
    </form>
</div>