<div class="container">
    <h2>Register here!</h2>
    
    <form>
        <h4>Personal and Document details: </h4>
        <div class="form-group">
            <label for="firstname">First Name: </label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter first name" name="firstname" />
            
            <label for="lastname">Last Name: </label>
            <input type="text" class="form-control" id="lastname" placeholder="Enter last name" name="lastname" />
            
            <label for="dob">Date of birth: </label>
            <input type="date" class="form-control" id="dob" placeholder="Enter date of birth" name="dob" />
            
            <label for="maritalstatus">Marital Status</label>
            <div class="form-check">
                <label class="form-check-label" for="single">
                <input type="radio" class="form-check-input" id="single" name="maritalstatus" value="single">Single
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="married">
                <input type="radio" class="form-check-input" id="married" name="maritalstatus" value="widow">Married
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="widow">
                <input type="radio" class="form-check-input" id="widow" name="maritalstatus" value="widow">Widow
                </label>
            </div>
            <label for="aadhar">Aadharcard Number: </label>
            <input type="number" class="form-control" id="aadhar" placeholder="Enter aadharcard number" name="aadhar" />
            
            <label for="pan">Pan card Number: </label>
            <input type="text" class="form-control" id="pan" placeholder="Enter pan card number" name="pan" />
    
            <label for="age">Age: </label>
            <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" />        
        </div>
        <h4>Family Details: </h4>
        <div class="form-group">
            <label for="familyfname">First Name:</label>
            <input type="text" class="form-control" id="familyfname" placeholder="Enter first name" name="familyfname">
            
            <label for="familylname">Last Name:</label>
            <input type="text" class="form-control" id="familylname" placeholder="Enter last name" name="familylname">
    
            <label for="relation">Relationship:</label>
            <input type="text" class="form-control" id="relation" placeholder="Enter relation" name="relation">
    
        </div>
    
        <h4>Course Details: </h4>
        <div class="form-group">
            <label for="orgname">Organisation Name:</label>
            <input type="text" class="form-control" id="orgname" placeholder="Enter Organisation name" name="orgname">
    
            <label for="coursename">Course Name:</label>
            <input type="text" class="form-control" id="coursename" placeholder="Enter course name" name="coursename">
        </div>
    
        <h4>Contact Details: </h4>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            
            <label for="phone">Mobile number:</label>
            <input type="number" class="form-control" id="phone" placeholder="Enter mobile number" name="phone">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    
    
    
    
    </div>